body {
    background: rgb(206, 197, 197);
    color: rgb(57, 95, 47);
}
h1 {
    font-size: 2rem;
    text-align: center;
}

.possibilities {
    margin: 40px;
    font-size: 2rem;
    text-align: right;
}

.question {
    font-size: 2rem;
    text-align: center;
}

p {
    color: #555;
    max-width: 600px;
    margin: auto;
}