body {
    background: black;
    color: white;
}
h1 {
    font-size: 3rem;
    text-align: center;
}

.possibilities {
    margin: 40px;
    font-size: 3rem;
    text-align: right;
}

.question {
    font-size: 3rem;
    text-align: center;
}

p {
    color: #555;
    max-width: 600px;
    margin: auto;
}